# VS Code
.vscode

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# IntelliJ
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/directionaries
.idea/libraries

# Mac OS
.DS_Store

# log files
*.log
/bin/
